<nav class="navbar-expand-md btm mb-5">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" 
                 routerLink="/home"
                 routerLinkActive="text-light"><span class="moving-gradient">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary"
                 routerLink="/portfolio"
                 routerLinkActive="text-light"><span class="moving-gradient">Portfolio</span></a>            </li>
            <li  class="nav-item">
                <a class="nav-link text-secondary"
                 routerLink="/resume"
                 routerLinkActive="text-light"><span class="moving-gradient">Resume</span></a>            </li>
            <li class="nav-item">
                <!-- <a class="nav-link
                 text-secondary" routerLink="/contact"
                 routerLinkActive="text-dark">Contact</a> -->
            </li>
        </ul>
    </div>
</nav>
