/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
}

.container {
  max-width: 1140px;
  background-color: black;
}

.tag {
  padding: 0 10px;
  height: 30px;
  width: fit-content;
  font-size: 16px;
  line-height: 30px;
  border-radius: 25px;
  background-color: blue;
  color: white;
}


.moving-gradient {
  font-weight: 500;
  background-image: linear-gradient(45deg, #ff8a00, #e52e71, #1a1aff);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientAnimation 5s infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.section {
  margin: 20px;
  background-color: black;
  border-radius: 8px;
  animation: shadowAnimation1 5s infinite linear;
  /* Animation definition */
}

/* Animation keyframes for the moving gradient effect in box shadow */
@keyframes shadowAnimation1 {
  0% {
    box-shadow: 0 0px 16px rgba(255, 138, 0, 0.5);
    /* Initial box shadow */
  }

  25% {
    box-shadow: 0 0px 16px rgba(229, 46, 113, 0.5);
    /* Moving box shadow - 25% of animation duration */
  }

  50% {
    box-shadow: 0 0px 16px rgba(26, 26, 255, 0.5);
    /* Moving box shadow - 50% of animation duration */
  }

  75% {
    box-shadow: 0 0px 16px rgba(255, 138, 0, 0.5);
    /* Moving box shadow - 75% of animation duration */
  }

  100% {
    box-shadow: 0 0px 16px rgba(255, 138, 0, 0.5);
    /* Final box shadow */
  }
}
