<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg section m-3">
            <div class="text-center">
                <h2 class="moving-gradient">About Me</h2>
                <img class="profilepic" src="../../assets/myimage_nbg.jpg" alt="profile picture"
                width="256" height="256"
                >
                <p class="mt-2 moving-gradient">A passionate learner with brilliant problem-solving skills who loves to face challenges. Believes in conceptual and
                    practical perspective. Seeking to utilize broad educational background with excellent analytical, technical and
                    programming skills to thrive as a software engineer.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg section m-3">
            <div class="text-center">
                <h2 class="moving-gradient">Featured Project</h2>
                <h4 class="moving-gradient">{{featuredProject.name}}</h4>
            </div>

            <ngb-carousel>
                <ng-template *ngFor="let picture of featuredProject.pictures" ngbSlide>
                    <img src={{picture}} alt="ngbSlide"
                     style="display:block; width: 100%;">
                </ng-template>
            </ngb-carousel>
            <p class="mt-2 moving-gradient text-center">{{featuredProject.summary}}</p>
        </div>

    </div>
</div>
