<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/myimage_bgw.jpg" alt="profile picture"
                width="256" height="256"
                class="rounded img-thumbnail">
                <p>A passionate learner with brilliant problem-solving skills who loves to face challenges. Believes in conceptual and
                    practical perspective. Seeking to utilize broad educational background with excellent analytical, technical and
                    programming skills to thrive as a software engineer.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>

            <ngb-carousel>
                <ng-template *ngFor="let picture of featuredProject.pictures" ngbSlide>
                    <img src={{picture}} alt="ngbSlide"
                     style="display:block; width: 100%;">
                </ng-template>
            </ngb-carousel>
            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the <a class="btn btn-outline-info" routerLink="/portfolio" >Portfolio</a> section for more!</p>
        </div>
    </div>
</div>